@charset "UTF-8";
/*-------general css-------*/
 
@media screen and (max-width: 799px){

p{
font-size: 0.7em;
font-family: Verdana, Arial, Helvetica, sans-serif; 
}

h3 {/* settings for headings 3 */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em ;
 	color: #e86600 ; 
	font-weight:bold;
	font-style:italic;
	text-align:center;
 }
 
 

img.displayed { /* settings for image in maincontent div to set image in center */
display: block;
margin-left: auto;
margin-right: auto;
  
}

  img, object, embed, video {
	max-width: 100%;
	/*max-height:100%;*/
}

img.TextWrap{
	
	width:190px;
	display:none;
 
height:170px;

	
}

  
/*----------------header----------------*/

.headerwrapper {
 	width: 100%;
 
}

.leftheader {
	 
   /* border: 1px solid #b40c00;*/
	/*height:140px;*/
	width:100%;
	 
}

.rightheader {
  
display:none;

}



/*----------------navbar-----------------*/

nav {
	 
margin-top: 10px;
width: 100%;   
height: 25px;
background-color: #fff;
}

nav ul{
	margin: auto;
	padding: inherit;              /*----------------navbar evil stuff to make it fit on screen-----------------*/
	text-align: center;
}

nav ul li{
display: inline;
border-right: 1px #000 solid;
padding: 1px 1%;
height: 50px;

}

nav ul li:last-child{
border: none;
}




nav ul li a{

color: #b40c00;
line-height: 10px;
text-decoration: none;
font-size: 0.6rem;
}

nav ul li a:hover{
color: #b40c00;
text-decoration:underline;
}


/*-----------------body------------------*/
.wrapper{
  min-height:367px;
	max-height:367px;
 	width: 100%;
}

 
.mainbar{
/*margin: 0 2% 5% 2%;*/
/*background-color: #252525;*/
/*border-radius: 10px;
box-shadow: 0px 0px 5px #f0f0f0;*/
}

.sidebar {
display:none;	
}


.footer{
 
text-align:center;	
padding-bottom:10px;
}
.footer a:link {
	text-decoration:none;
	color:#000000;
	font-size: 10pt;
 
 }
 .footer a:visited {
	text-decoration:none;
	color:#e86600;
	font-size: 10pt; 
 }
 
  .footer a:hover {
	text-decoration:underline;
	color:#b40c00;
	font-size: 10pt; 
 }
  .footer a:hover {
	 
	color:#b40c00;
	font-size: 10pt; 
 }	
	
 
 
} 

/*-----------------everything under here is for screen size above 400px/800px-------------*/
@media screen and (min-width: 800px) {

body { /* settings for body */
	background-color: #dfdfdf; 
 
}
p{
font-size: 0.9em;
font-family: Verdana, Arial, Helvetica, sans-serif; 
}
   
img {
border: 0px ;
	 	
}

img.displayed { /* settings for image in maincontent div to set image in center */
display: block;
margin-left: auto;
margin-right: auto;
  
}
 

h2 {/* settings for headings 2 */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20pt ; 
 	color: #b40c00 ; 
	font-weight:bold;
 }
 
 h3 {/* settings for headings 3 */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.3rem ;
 	color: #e86600 ; 
	font-weight:bold;
	font-style:italic;
	text-align:left;
 }
 
 img.TextWrap {
	display:block;
	float: right;
    margin: 10px;
	padding-right:5px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:10px;
	}
	
	.TextWrap {
	
	float: right;
    margin: 10px;
	padding-right:5px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:10px;
	}
	
.TextWrap2 {
	
	float: right;
    margin: 10px;
	padding-right:5px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:10px;
	}

.TextWrapLeft {
	
	float: left;
    margin: 10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:5px;
}

/*----------------header----------------*/

 .headerwrapper{
	width: 802px;  
		height:140px;	 
	 /*	margin: 0 auto;*/
	/*	border: 1px solid #000;*/
 }
 
 
.leftheader {
	width:395px;
	height:140px;
	float:left;
border: 1px solid #b40c00;


}
.rightheader {
	display:block;
	width: 395px;
	height: 140px;
	float: right;
	border: 1px solid #b40c00;
	text-align: center;
	background-color: #FFF;
	vertical-align: top;
}



/*----------------navbar-----------------*/

nav {
   margin-top: 10px;  
width: 100%;
height: 25px;
background-color: #dfdfdf;
/* border: 1px red solid; 
*/font-size: 1rem;
 font-family: Verdana,  Arial, Helvetica, sans-serif;
	 
} 

nav ul{
text-align: center;
 margin-top: 0;  
}

nav ul li{
	
display: inline;
border-right: 1px #000 solid;
padding: 1px 2%;
height: 25px;

}

nav ul li:last-child{
border: none;
}

 

nav ul li a{

color: #b40c00;
line-height: 10px;
text-decoration: none;
font-size: 0.8rem;
}

nav ul li a:hover{
color: #b40c00;
text-decoration:underline
}

nav ul li a:active{
color: #e86600;
}

nav ul li a:visited{
color: #e86600;
text-decoration:none;
}

/*-----------------Body-------------*/	

.wrapper {
	width: 802px; /* this should be 10px margin for all */
	/* min-width:806px;*/
 
	margin: 0 auto;
	min-height:768px;
}

 
.contentwrapper{
margin-top: 1%;
/* border: 1px red solid; */
  
 /* float:left;*/
 
/*width: 100%;*/
height:650px; 
width: 802px;
 
}
 
.mainbar{
	width: 73%;
	float: left;
	border: 1px solid #b40c00;
	background-color: #F6F6F6;
	height: 100%;
	padding-left: 10px;
}

.sidebar{
 display:block; 
width: 24%;
 background-color: #F6F6F6;
float:right;
 border: 1px solid #b40c00;
  height:100%;
}

.footer{
	 
     height:22px;
    border: 1px solid #b40c00;
	clear: both;
	text-align: center;
 	background-color: #F6F6F6;
	margin-top: 10px;
}

.footer{
 
text-align:center;	
}
.footer a:link {
	text-decoration:none;
	color:#000000;
	font-size: 10pt;
 
 }
 .footer a:visited {
	text-decoration:none;
	color:#e86600;
	font-size: 10pt; 
 }
 
  .footer a:hover {
	text-decoration:underline;
	color:#b40c00;
	font-size: 10pt; 
 }
  .footer a:hover {
	 
	color:#b40c00;
	font-size: 10pt; 
 }	

}

 

 
